.addSelbButton {
    background-color: #82E0AA;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'League Spartan';
    box-shadow: 
        rgba(171, 235, 198) 0px 15px 30px -12px inset, 
        rgba(20, 143, 119) 0px 18px 13px -18px inset;
    text-decoration: none;
    color: black;

    margin: 0 10px;
}

.addSelbButton:hover {
    border-color: #239B56;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.25);
    background: #2ECC71;
}